.appHeader .goBack {
  background-color: transparent;
  background-image: url('../imgs/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent;
  border-style: solid;
  border-width: 0 10px;
  bottom: 0;
  cursor: pointer;
  display: block;
  font-size: 0;
  left: 0;
  opacity: .75;
  position: absolute;
  top: 0;
  width: 5rem;
}
.appHeader .goBack:hover {
  opacity: 1;
}
.open-search {
  background-color: #65b300;
  background-image: url('../imgs/add.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 8px solid transparent;
  bottom: 1.2rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  display: block;
  font-size: 0;
  height: 4.5rem;
  position: fixed;
  right: 1.2rem;
  width: 4.5rem;
}

/* books */
.bookshelf {
  padding: 0;
}
.bookshelf-title {
  background-color: #eee;
  box-shadow: 0 0 3px #aaa;
  color: #555;
  font-size: 1.3rem;
  margin: 0;
  padding: 13px 10px 3px;
  position: relative;
  text-shadow: 1px 1px 0 #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.bookshelf-title::after {
  content: "-";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(50%, -50%);
  font-weight: bold;
  font-size: 2.5rem;
  opacity: .2;
}
.bookshelf-title.collapsed {
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  padding: 8px 10px;
  z-index: 1;
}
.bookshelf-title.collapsed::after {
  content: "+";
  font-size: 1.8rem;
}
.bookshelf-title span {
  color: #444;
  display: inline-block;
  font-size: .85em;
  font-weight: normal;
  margin-left: 10px;
  text-transform: none;
}
.books-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 25px 10px 0;
}
.books-grid li {
  flex: 0 0 50%;
  margin: 0 0 30px;
  padding: 0 15px;
  text-align: left;
}
.books-grid li.no-books {
  color: #999;
  flex: 1 1 auto;
  font-size: 1.4rem;
}
.book-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 8px 0 3px;
  padding: 0 6px;
}
.book-authors {
  color: #666;
  font-size: 1rem;
  padding: 0 6px;
}
.book-top {
  position: relative;
}
.book-shelf-changer {
  background-color: #cb0000;
  background-image: url('../imgs/arrow-drop-down.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  border: 5px solid transparent;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 3rem;
  position: absolute;
  right: -5px;
  top: -5px;
  width: 3rem;
}
.book-shelf-changer select {
  cursor: pointer;
  font-size: 1.6rem;
  height: 100%;
  opacity: 0;
  width: 100%;
}
.book-cover {
  background-color: #eee;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-bottom: 148%;
  width: 100%;
}


/* search page */
.search-box {
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
  display: flex;
  flex: 0 0 auto;
}
.search-box input {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 10px;
  width: 100%;
}
.search-no-results {
  color: #999;
  font-size: 1.4rem;
  padding-top: 40px;
  text-align: center;
}

/* Book Detail Page */
.pageBook {
  padding-bottom: 0;
}
.book-view {
  margin: 0 auto;
  max-width: 700px;
  padding: 2rem;
  padding-bottom: 0;
}
.book-view h1 {
  font-size: 2.6rem;
  line-height: 1.1;
  margin: 0 0 1.6rem;
}
.book-view h1 small {
  color: #888;
  display: block;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
}
.book-view p {
  font-size: 1.4rem;
  margin: 0;
  padding: .3rem .2em .25rem;
}
.book-view p + p {
  border-top: 1px solid #eee;
}
.book-view p.book-desc {
  font-size: 1.6rem;
  line-height: 1.45;
  white-space: pre-wrap;
  background-color: #f4f4f4;
  margin: 1.6rem -2rem 0;
  padding: 1.6rem 2rem 6rem;
  box-shadow: 0 2px 2px #ddd;
}


.page404 {
  padding: 60px 10px 30px;
  text-align: center;
}
.page404 h2 {
  font-size: 2.4rem;
  margin: 0 0 30px;
}
.page404 h2 small {
  display: block;
  opacity: .75;
}
.page404 .goBack {
  background-color: #cb0000;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  padding: .6em 1.8em .7em;
}



/* Responsive MQ */

@media screen and (min-width: 500px) {
  .appHeader h1 a {
    font-size: 2.4em;
  }
  .books-grid li {
    flex-basis: 33.33%;
  }
}


@media screen and (min-width: 750px) {
  .books-grid li {
    flex-basis: 25%;
  }
}

@media screen and (min-width: 1000px) {
  .books-grid li {
    flex-basis: 250px;
  }
}
